<div class="container">
  <h1>Iniciar sesión</h1>
  
  <form class="form">
    <input type="text" placeholder="email">
    <input type="password" placeholder="Password">
    <button type="submit" (click)="logIn(username.value, password.value, $event)" id="login-button">
      Login
    </button>
  </form>
</div>